* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
.nav {
  height: 10%;
  width: 96%;
  margin-left: 2%;
  margin-top: 0.5%;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: beige;
  border-radius: 10px;
}
#map {
  width: 96%;
  height: 86%;
  margin-left: 2%;
  margin-top: 0.5%;
  margin-bottom: 3%;
  border-radius: 10px;
}
